<nz-card nzTitle="Add Family Members" [nzExtra]="extraTemplate">
 
    @if (showFamilyForm) {
         <form [formGroup]="familyForm">
        <div nz-row [nzGutter]="8">

            <!-- Name -->
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                [nzXl]="6" [nzXXl]="6">
                <nz-form-item>
                    <nz-form-control
                        [nzErrorTip]="getError('name')">
                        <nz-form-label nzRequired
                            nzFor="name">
                            Name</nz-form-label>
                        <input nz-input formControlName="name"
                            id="name" name="name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <!-- DOB -->
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                [nzXl]="4" [nzXXl]="4">
                <nz-form-item>
                    <nz-form-control
                        [nzErrorTip]="getError('dob')">
                        <nz-form-label
                            nzFor="dob">
                            Date of Birth</nz-form-label>
                        <nz-date-picker style="width: 100%;"
                            id="dob"
                            name="dob"
                            formControlName="dob"
                            nzPlaceHolder=" "
                            nzFormat="MMM d, yyyy">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <!-- Number -->
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                [nzXl]="4" [nzXXl]="4">
                <nz-form-item>
                    <nz-form-control
                        [nzErrorTip]="getError('phoneNumber')">
                        <nz-form-label nzRequired
                            nzFor="phoneNumber">
                            Phone Number</nz-form-label>
                        <input nz-input formControlName="phoneNumber"
                            id="phoneNumber" name="phoneNumber" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <!-- cnicOrPassportNumber -->
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                [nzXl]="4" [nzXXl]="4">
                <nz-form-item>
                    <nz-form-control
                        [nzErrorTip]="getError('cnicOrPassportNumber')">
                        <nz-form-label
                            nzFor="cnicOrPassportNumber">
                            ID/Passport Number</nz-form-label>
                        <input nz-input
                            formControlName="cnicOrPassportNumber"
                            id="cnicOrPassportNumber"
                            name="cnicOrPassportNumber" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <!-- relationship -->
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                [nzXl]="6" [nzXXl]="6">
                <nz-form-item>
                    <nz-form-control
                        [nzErrorTip]="getError('relationshipId')">
                        <nz-form-label nzRequired
                            nzFor="relationshipId">
                            Relationship</nz-form-label>
                        <nz-select
                            nzShowSearch
                            nzAllowClear
                            formControlName="relationshipId"
                            id="relationshipId"
                            name="relationshipId">
                            @for (relation of availableRelationships; track
                            relation.id) {
                            <nz-option [nzLabel]="relation.name"
                                [nzValue]="relation.id"></nz-option>
                            }
                        </nz-select>

                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
    }

    <nz-table
        #basicTable
        [nzData]="familyDataList()"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Phone</th>
                <th>ID/Passport Number</th>
                <th>Relationship</th>
            </tr>
        </thead>

        <tbody>
            @for (data of basicTable.data; track data) {
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.dob ? (data.dob | date: 'MMM d, yyyy') : '--'
                    }}</td>
                <td>{{ data.phoneNumber }}</td>
                <td>{{ data.cnicOrPassportNumber || '--' }}</td>
                <td>{{ data.relationshipName }}</td>
            </tr>
            }
        </tbody>
    </nz-table>

</nz-card>

<ng-template #extraTemplate>
    @if (showFamilyForm) {
    <button (click)="addMember()" [disabled]="familyDataList().length >= 3"
        nz-button
        nzType="primary">
        <i nz-icon nzType="plus-circle" [nzTheme]="'fill'"></i>
        Save Family Member
    </button>
    }
    <button
        (click)="showForm()"
        nz-button
        nzType="primary">
        <i nz-icon nzType="plus-circle" [nzTheme]="'fill'"></i>
        Add Family Member
    </button>
</ng-template>
