<div nz-row [nzGutter]="10">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12"
        [nzXl]="12" [nzXXl]="12">
        <nz-card [nzBordered]="false" nzTitle="Add Personal Skills"
            [nzExtra]="cardTemplate">
            <form [formGroup]="skillsForm" nz-form nzLayout="vertical">
                <div nz-row [nzGutter]="8">

                    <!-- Skill -->
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                        [nzXl]="6" [nzXXl]="6">
                        <nz-form-item>
                            <nz-form-control
                                [nzErrorTip]="getError('skillId')">
                                <nz-form-label nzRequired
                                    nzFor="skill">
                                    Skill</nz-form-label>
                                <nz-select nzShowSearch nzAllowClear
                                    id="skill"
                                    formControlName="skillId"
                                    name="skill">
                                    <nz-option nzLabel="Jack"
                                        nzValue="jack"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!-- proficiency -->
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                        [nzXl]="6" [nzXXl]="6">
                        <nz-form-item>
                            <nz-form-control
                                [nzErrorTip]="getError('proficiencyId')">
                                <nz-form-label nzRequired
                                    nzFor="proficiency">
                                    Proficiency</nz-form-label>
                                <nz-select nzShowSearch nzAllowClear
                                    id="proficiency"
                                    formControlName="proficiencyId"
                                    name="proficiency">
                                    <nz-option nzLabel="Jack"
                                        nzValue="jack"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                        [nzXl]="6" [nzXXl]="6">
                        <nz-form-item>
                            <nz-form-control
                                [nzErrorTip]="getError('yearOf')">
                                <nz-form-label nzRequired
                                    nzFor="yearOf">
                                    Year Of</nz-form-label>
                                <input nz-input formControlName="yearOf"
                                    id="yearOf" name="yearOf" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                        [nzXl]="6" [nzXXl]="6">
                        <nz-form-item>
                            <nz-form-control
                                [nzErrorTip]="getError('certificationName')">
                                <nz-form-label
                                    nzFor="certificationName">
                                    Certification Name </nz-form-label>
                                <input nz-input
                                    formControlName="certificationName"
                                    id="certificationName"
                                    name="certificationName" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                        [nzXl]="6" [nzXXl]="6">
                        <nz-form-item>
                            <nz-form-control
                                [nzErrorTip]="getError('issueMonth')">
                                <nz-form-label
                                    nzFor="issueMonth">
                                    Issue Date</nz-form-label>
                                <nz-date-picker nzMode="month"
                                    nzFormat="MMMM yyyy"
                                    style="width: 100%;" [nzPlaceHolder]="' '"
                                    formControlName="issueMonth"
                                    name="issueMonth"
                                    id="issueMonth"
                                    ></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                        [nzXl]="6" [nzXXl]="6">
                        <nz-form-item>
                            <nz-form-control
                                [nzErrorTip]="getError('expirationYear')">
                                <nz-form-label
                                    nzFor="expirationYear">
                                    Expiration Date (if any)</nz-form-label>
                                <nz-date-picker nzMode="year"
                                    style="width: 100%;" [nzPlaceHolder]="' '"
                                    formControlName="expirationYear"
                                    name="expirationYear" id="expirationYear"
                                   ></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                        [nzXl]="6" [nzXXl]="6">
                        <nz-form-item>
                            <nz-form-control
                                [nzErrorTip]="getError('credentialId')">
                                <nz-form-label
                                    nzFor="credentialId">
                                    Credential Id</nz-form-label>
                                <input nz-input formControlName="credentialId"
                                    id="credentialId" name="credentialId" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6"
                        [nzXl]="6" [nzXXl]="6">
                        <nz-form-item>
                            <nz-form-control
                                [nzErrorTip]="getError('credentialUrl')">
                                <nz-form-label
                                    nzFor="credentialUrl">
                                    Credential Url</nz-form-label>
                                <input nz-input formControlName="credentialUrl"
                                    id="credentialUrl" name="credentialUrl" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24" [nzXXl]="24">
                        <nz-upload
                            nzType="drag"
                            [nzMultiple]="true"
                            [nzBeforeUpload]="beforeUpload"
                            [nzFileList]="fileList"
                            nzAction=" "
                            (nzChange)="handleChange($event)">
                            <p class="ant-upload-drag-icon">
                                <nz-icon nzType="inbox"></nz-icon>
                            </p>
                            <p class="ant-upload-text">Click or drag files to
                                this area to upload</p>
                        </nz-upload>
                    </div>
                </div>
            </form>
        </nz-card>
        <ng-template #cardTemplate>
            <button nz-button nzType="primary" (click)="submitForm()">
                 <i nz-icon nzType="plus-circle" [nzTheme]="'fill'"></i>
                Add
                Skill</button>
        </ng-template>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12"
        [nzXl]="12" [nzXXl]="12">
        <nz-card nzTitle="All Skills">
            @if (tableData().length) {
            <nz-table nzShowPagination="false" nzSize="small" #basicTable
                [nzData]="tableData()"
                [nzBordered]="false">
                <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Proficiency</th>
                        <th>Year Of</th>
                        <th>Certification Name</th>
                        <th>Issue Month</th>
                        <th>Expiration Year</th>
                        <th>Credential Url</th>
                        <th>Documents</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @for (item of tableData(); track $index) {
                    <tr>
                        <td>{{ item.skillId }}</td>
                        <td>{{ item.proficiencyId }}</td>
                        <td>{{ item.yearOf }}</td>
                        <td>{{ item.certificationName }}</td>
                        <td>{{ item.issueMonth }}</td>
                        <td>{{ item.expirationYear }}</td>
                        <td>{{ item.credentialUrl }}</td>

                        <td>
                            @if (item.document?.length) {

                            <button nz-button nz-dropdown nzTrigger="click"
                                [nzDropdownMenu]="fileMenu" nzArrow>
                                {{ item.document?.length }} Attachment(s)
                                <i nz-icon [nzType]="'down'"></i>
                            </button>

                            <nz-dropdown-menu #fileMenu="nzDropdownMenu">
                                <ul nz-menu>
                                    @for (f of item.document!; track f.uid) {
                                    <li nz-menu-item (click)="downloadFile(f)"
                                        class="d-flex align-items-center justify-content-between">
                                        <i nz-icon nzType="file"
                                            [nzTheme]="'twotone'"
                                            class="fs-6 me-1"></i> {{ f.name }}
                                        <i nz-icon [nzType]="'download'"></i>

                                    </li>
                                    }
                                </ul>
                            </nz-dropdown-menu>

                            } @else {
                            <span>No File</span>
                            }
                        </td>
                        <td class="text-center">
                            <i
                                (click)="onDelete(item)"
                                nz-icon
                                nzType="delete"
                                nzTheme="fill"
                                nzSize="md"
                                class="text-danger fs-6">
                            </i>
                        </td>

                    </tr>
                    }
                </tbody>

            </nz-table>

            } @else {
            <nz-empty
                nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                nzNotFoundContent="No Personal Skills added yet">
            </nz-empty>
            }
        </nz-card>
    </div>

</div>

<app-emp-documents></app-emp-documents>

