<div class="row">
    <div
        class="MainHeaderNaivigator d-flex justify-content-start align-items-center"
        style="background-color: #1b2e3a;">

        <div
            class="col-6 p-1 LeftSide d-flex justify-content-start align-items-center">
            <nz-space>

                <!-- Menu Button -->
                <button nz-button nzType="link"
                    class="text-white fw-bolder MenuBar BtnEffect">
                    <span nz-icon nzType="menu" nzTheme="outline"></span>
                </button>

                <!-- Employee Management Dropdown -->
                <button
                    nz-button
                    nzType="link"
                    class="text-white fw-bolder BtnEffect"
                    [nzTrigger]="'click'"
                    nz-dropdown
                    [nzDropdownMenu]="empMenu">
                    <i nz-icon nzType="user" nzTheme="outline" class="me-1"></i>
                    Employee Management
                    <i nz-icon nzType="down"></i>
                </button>

                <nz-dropdown-menu #empMenu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item routerLink="/employee/add-employee">
                            <nz-space>
                                <span *nzSpaceItem>
                                    <i nz-icon nzType="user-add"
                                        nzTheme="outline"></i>
                                </span>
                                <span *nzSpaceItem class="DropdownLinkName">Add
                                    Employee</span>
                            </nz-space>
                        </li>
                        <li nz-menu-item routerLink="/employee/quick-add-employee">
                            <nz-space>
                                <span *nzSpaceItem>
                                    <i nz-icon nzType="team"
                                        nzTheme="outline"></i>
                                </span>
                                <span *nzSpaceItem
                                    class="DropdownLinkName">Quick Add Employee
                                    </span>
                            </nz-space>
                        </li>
                        <li nz-menu-item routerLink="/employee/profile-request">
                            <nz-space>
                                <span *nzSpaceItem>
                                    <i nz-icon nzType="profile"
                                        nzTheme="outline"></i>
                                </span>
                                <span *nzSpaceItem
                                    class="DropdownLinkName">Profile Update Approval
                                    </span>
                            </nz-space>
                        </li>
                        <li nz-menu-item routerLink="/employee/emp-profile-view">
                            <nz-space>
                                <span *nzSpaceItem>
                                    <i nz-icon nzType="group"
                                        nzTheme="outline"></i>
                                </span>
                                <span *nzSpaceItem
                                    class="DropdownLinkName">Employee Profile View
                                    </span>
                            </nz-space>
                        </li>
                    </ul>
                </nz-dropdown-menu>

            </nz-space>
        </div>

        <!-- Right Side Search + Icons -->
        <div
            class="col-6 p-1 RightSide d-flex justify-content-end align-items-center">
            <nz-space>
                <!-- User Avatar Dropdown -->
                <button nz-button nzType="link" nz-dropdown
                    [nzDropdownMenu]="userMenu">
                    <nz-avatar nzText="MM" nzSize="default"
                        style="background-color:#fde3cf; color:#f56a00;"></nz-avatar>
                </button>
                <nz-dropdown-menu #userMenu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a class="d-flex align-items-center p-1">
                                <nz-space>
                                    <span *nzSpaceItem>
                                        <i nz-icon nzType="user"
                                            nzTheme="outline"></i>
                                    </span>
                                    <span *nzSpaceItem
                                        class="DropdownLinkName">Profile</span>
                                </nz-space>
                            </a>
                        </li>

                        <li nz-menu-item>
                            <a class="d-flex align-items-center p-1">
                                <nz-space>
                                    <span *nzSpaceItem>
                                        <i nz-icon nzType="setting"
                                            nzTheme="outline"></i>
                                    </span>
                                    <span *nzSpaceItem
                                        class="DropdownLinkName">Settings</span>
                                </nz-space>
                            </a>
                        </li>

                        <li nz-menu-item>
                            <a class="d-flex align-items-center p-1">
                                <nz-space>
                                    <span *nzSpaceItem>
                                        <i nz-icon nzType="logout"
                                            nzTheme="outline"></i>
                                    </span>
                                    <span *nzSpaceItem
                                        class="DropdownLinkName">Logout</span>
                                </nz-space>
                            </a>
                        </li>
                    </ul>
                </nz-dropdown-menu>

            </nz-space>
        </div>

    </div>
</div>
