<nz-layout >
  <nz-content class="scrollable-content">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
        <div class="card-container">
          <nz-tabset
            nzType="card"
            [nzSelectedIndex]="selectedIndex"
            [nzAnimated]="false"
            (nzSelectedIndexChange)="onTabChange($event)">

            @for (tab of tabRoutes; track tab.title) {
            <nz-tab [nzTitle]="tab.title">
              @if (tab.component) {
              <ng-container [ngComponentOutlet]="tab.component"></ng-container>
              <div class="row mb-5"></div>
              <div class="row mb-5"></div>
              }
              @if (!tab.component) { <span>Unknown tab</span>
              } </nz-tab>
            }
          </nz-tabset>

        </div>
      </div>
    </div>
  </nz-content>

  <nz-footer class="custom-footer">
    <div nz-row [nzGutter]="16" [nzJustify]="'end'">
      <div nz-col>
        <button nz-button nzType="primary" (click)="saveAll()">Save
          Employee</button>
      </div>
    </div>
  </nz-footer>
</nz-layout>
