 :host {
     background: #f1f4fa;
 }

 .card-container ::ng-deep>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
     background: #f1f4fa;
     padding: 10px;

 }


 .card-container ::ng-deep>.ant-tabs-card>.ant-tabs-nav::before {
     display: none;
 }

 .card-container ::ng-deep>.ant-tabs-card .ant-tabs-tab {
     border-color: transparent;
     background: transparent;
 }

 .card-container ::ng-deep>.ant-tabs-card .ant-tabs-tab-active {
     border-color: #f1f4fa;
     background: #f1f4fa;
 }

 .card-container ::ng-deep>.ant-tabs-card .ant-tabs-content {
    /* margin-top: -16px; */
    padding: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px;
    padding-left: 0px;
}