/* ========================= */
/* 🌟 Force nz-upload inside card */
/* ========================= */
:host ::ng-deep nz-upload {
  width: 100%;
  box-sizing: border-box;
  display: block;

  /* Uploaded file list */
  .ant-upload-list {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 5px;

    .ant-upload-list-item {
      width: 100%;
      box-sizing: border-box;
    }

    .ant-upload-list-item-name {
      word-break: break-all;
    }
  }
}














/* Upload List Container */
::ng-deep .ant-upload-list {
  margin-top: 10px;
  width: 100%;


}

::ng-deep .ant-upload-list-item {
  padding: 18px 13px !important;
  /* border-radius: 10px !important; */
  background: #f1f4fa !important;
  /* margin-bottom: 10px !important; */
  transition: 0.3s ease-in-out;
  width: 100%;

}

upload-list-item-name, .ant-upload-list-picture .ant-upload-list-item-name {
    flex: auto;
    margin: 0;
    padding: 0 4px;
    color: blue !important;
}


.ant-upload-list-item-info {
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;

}

::ng-deep .ant-upload-list-item-card-actions .anticon-delete {
  font-size: 20px !important;
  color: #ff0000;
   display: flex;
  justify-content: center;
  align-items: center;
}


::ng-deep .ant-upload-list-text .ant-upload-text-icon .anticon {
  position: static;
  font-size: 22px;
  font-weight: 900;
}

/* Each file row */

/* Hover effect */
::ng-deep .ant-upload-list-item:hover {
  background: #eef1f8 !important;
  border-color: #c9ccda !important;
}

/* Icon style */
::ng-deep .ant-upload-list-item .ant-upload-text-icon {
  font-size: 20px !important;
  margin-right: 10px !important;
  color: #3b5bdb !important;
}

/* File name text */
::ng-deep .ant-upload-list-item-name {
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #2b2f42 !important;
}

/* Name hover underline effect */
::ng-deep .ant-upload-list-item-name:hover {
  text-decoration: underline !important;
}

/* Remove Button */
::ng-deep .ant-upload-list-item-card-actions .ant-btn {
  background: #fff !important;
  border: none !important;
  box-shadow: none !important;
  color: #ff4d4f !important;
  transition: 0.2s;
}

/* Remove Button Hover */
::ng-deep .ant-upload-list-item-card-actions .ant-btn:hover {
  background: #ffecec !important;
  color: #d9363e !important;
}

/* Delete icon size */
::ng-deep .ant-upload-list-item-card-actions .anticon-delete {
  font-size: 20px !important;
}